$autosuggest-color-primary-contrast: $color-primary-contrast;
$autosuggest-color-primary: $color-primary;
$autosuggest-overflow-max-height: 45vh;
$autosuggest-suggestion-active-background: $palette-grey-200;
$autosuggest-suggestion-padding: $unit;
$autosuggest-suggestions-background: $color-white;
$autosuggest-value-border-radius: .2 * $unit;
$autosuggest-value-margin: $unit * .25 $unit * .5 $unit * .25 0;
$autosuggest-value-padding: $unit * .5 $unit * .75;
